@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background: url("/img/jumbotronEsc.jpg");
    // background-size: cover;
    // background-position: center;
}

// #bg {
//     position: fixed; 
//     top: -50%; 
//     left: -50%; 
//     width: 200%; 
//     height: 200%;
//     z-index: -999;
// }

// #bg #img-fundo {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: auto;
//     min-width: 50%;
//     min-height: 50%;
//     filter: blur(10px);
//     opacity: 0.2;
// }

// #img-fundo {
//     position: fixed;
//     top: 0;
//     left: 0;
//     min-width: 100%;
//     min-height: 100%;
//     filter: blur(3px);
//     opacity: 0.3;
//     z-index: -999;
// }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.topo2 {
    position: relative;
    // justify-content: center;
    text-align: center;
    min-height: 50vh;
    color: #fff;
}

.topo2 .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: brightness(50%);
}

.topo2-conteudo {
    // margin-top: 100px;
}

.topo2 h1 {
    font-size: 60px;
    font-weight: bold;
}

.topo2 h3 {
    font-size: 28px;
    margin-bottom: 40px;
}

.topo2 a {
    padding: 15px;
    font-size: 25px;
    // font-weight: bold;
    margin: 5px;
}

.conteudo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-correcao-gutter {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.conteudo .card-img-top {
    height: 180px;
    max-height: 180px;
}

.conteudo .card {
    max-width: 290px;
    margin: 5px 0px !important;
}

.conteudo .card-body {
    padding: 15px !important;
}

// .card-body li {
//     list-style: none;
// }

.conteudo .card-body hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.conteudo .card-body p {
    margin-bottom: 0px;
}

.conteudo .card-body p.avaliacao {
    font-weight: bold;
    margin-bottom: 5px;
}

.conteudo .card-body a {
    margin-top: 5px !important;
}

span.preco {
    // font-size: 20px;
    font-weight: bold;
    color: rgb(56, 156, 56);
}

span.indisponivel {
    // font-size: 20px;
    font-weight: bold;
    color: red;
}

// section.servicos .btn-group-toggle {
//     display: flex;
//     flex-wrap: wrap;
// }

section.servicos label, section.servicos button{
    font-weight: bold;
    font-size: 20px;
}

section.servicos div.col-md-6{
    margin: 0 !important;
}

// p.preco {
//     font-size: 20px;
//     // font-weight: bold;
// }

footer {
    color: white;
    background-color: #007bff;
}

footer li{
    list-style: none;
}

@media (max-width: 576px){
    .card {
        max-width: 310px;
        margin: 5px auto !important;
    }
}

// Navbar Área Administrativa
nav#navbar-admin {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}